<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Class Listing</title>
<style type="text/css">
.input-group-append {
	cursor: pointer;
}
</style>
</head>
<body>
	<th:block th:include="/_nav"></th:block>
	<main class="row mx-0">
		<th:block th:include="/_sidebar"></th:block>
		<div class="col">
			<div class="container">
				<div class="pt-4 border-0 border-bottom">
					<h1 class="fw-normal">Class Listing</h1>
				</div>
				<form th:action="@{class_search_result}"
					th:object="${classBatchCriteriaModel}" method="POST">
					<div class="row">
						<div class="row">
							<div class="col">
								<div class="input-group mb-3 mt-3">
									<span class="input-group-text">Location</span> <select
										class="form-select" th:field="*{locationName}">
										<option value="All" selected>All</option>
										<option th:each="location : ${listOfLocations}"
											th:value="${location.locationName}"
											th:text="${location.locationName}"></option>
									</select>
								</div>
								<div class="input-group mb-3 mt-3 date" id="fromDatepicker">
									<span class="input-group-text">From Date</span> <input
										th:field="*{fromDate}" type="text" class="form-control"
										id="date" /> <span class="input-group-append"> <span
										class="input-group-text bg-light d-block"> <i
											class="fa fa-calendar"></i>
									</span>
									</span>
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3 mt-3">
									<span class="input-group-text">Class Name</span> <select
										th:field="*{className}" class="form-select">
										<option value="All" selected>All</option>
										<option th:each="classBatch : ${listOfClassBatches}"
											th:value="${name}" th:text="${classBatch.className}"></option>
									</select>
								</div>
								<div class="input-group mb-3 mt-3 date" id="toDatepicker">
									<span class="input-group-text">To Date</span> <input
										th:field="*{toDate}" type="text" class="form-control"
										id="date" /> <span class="input-group-append"> <span
										class="input-group-text bg-light d-block"> <i
											class="fa fa-calendar"></i>
									</span>
									</span>
								</div>
							</div>
							<div class="col">
								<div class="input-group mb-3 mt-3">
									<span class="input-group-text">Status</span> <select
										th:field="*{classStatus}" class="form-select">
										<option value="All" selected>All</option>
										<option th:each="status : ${listOfClassStatuses}"
											th:value="${status.classStatusName}"
											th:text="${status.classStatusName}"></option>
									</select>
								</div>
								<div class="row"></div>
							</div>
							<div class="col">
								<div class="mb-3 mt-3 row justify-content-end">
									<div class="col-5">
										<button type="submit" class="btn btn-secondary">
											<i class="bi bi-search"></i> Search
										</button>
									</div>
								</div>
								<div class="row"></div>
							</div>
						</div>
					</div>
				</form>
				<div class="row">
					<form th:action="@{class_update}" method="POST">
						<div class="col">
							<div class="table-responsive table-wrapper">
								<p th:if="${errorString!=null}" style="color: red;"
									th:utext="${errorString}"></p>
								<table
									class="table table-striped table-bordered table-hover header-fixed">
									<thead>
										<tr>
											<th scope="col"><i class="bi bi-square"></i></th>
											<th scope="col">#</th>
											<th scope="col">Class Code</th>
											<th scope="col">Class Name</th>
											<th scope="col">Actual Start Date</th>
											<th scope="col">Actual End Date</th>
											<th scope="col">Location</th>
											<th scope="col">Status</th>
										</tr>
									</thead>
									<tbody>
										<tr class="clickableRow"
											th:each="classBatch, iStat : ${classBatchPage.content}">
											<th><input class="form-check-input mt-0" type="radio"
												name="selectedClassBatch" th:value="${classBatch.id}"></th>
											<td th:utext="${iStat.index +1}">1</td>
											<td><a class="text-decoration-none" th:href="@{class_view?classBatchId={id}(id=${classBatch.id})}"
												th:utext="${classBatch.classCode}">HN_FR_Java_18_01</a></td>
											<td th:utext="${classBatch.className}">Fresher Developer
												Java</td>
											<td
												th:utext="${classBatch.actualStartDate}?${#dates.format(classBatch.actualStartDate, 'dd-MM-yyyy')}:''">01/02/2022</td>
											<td
												th:utext="${classBatch.actualEndDate}?${#dates.format(classBatch.actualEndDate, 'dd-MM-yyyy')}:''">09/08/2022</td>
											<td th:utext="${classBatch.location.locationName}">Quận
												9</td>
											<td th:utext="${classBatch.classStatus.classStatusName}">Planned</td>
										</tr>
									</tbody>
								</table>

							</div>
							<div class="row">
								<div class="col-2">
									<div th:if="${classBatchPage.totalPages > 0}"
										class="input-group mb-3 mt-3">
										<span class="input-group-text">Page Size</span> <input
											type="text" class="form-control"
											th:value="${classBatchPage.numberOfElements}">
										<button class="btn btn-outline-secondary dropdown-toggle"
											type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
										<ul class="dropdown-menu dropdown-menu-end">
											<li th:selected="${classBatchPage.numberOfElements == size}"><a
												class="dropdown-item"
												th:text="${classBatchPage.numberOfElements}"
												th:value="${classBatchPage.numberOfElements}"
												th:href="@{/class_management(size=${classBatchPage.size}, page=${pageNumber})}">[current
													page size]</a></li>
											<li th:selected="${classBatchPage.numberOfElements == size}"><a
												class="dropdown-item" th:text="10" th:value="10"
												th:href="@{/class_management(size=10, page=1)}">10</a></li>
											<li th:selected="${classBatchPage.numberOfElements == size}"><a
												class="dropdown-item" th:text="20" th:value="20"
												th:href="@{/class_management(size=20, page=1)}">20</a></li>
											<li th:selected="${classBatchPage.numberOfElements == size}"><a
												class="dropdown-item" th:text="30" th:value="30"
												th:href="@{/class_management(size=30, page=1)}">30</a></li>
											<li th:selected="${classBatchPage.numberOfElements == size}"><a
												class="dropdown-item" th:text="50" th:value="50"
												th:href="@{/class_management(size=50, page=1)}">50</a></li>
											<li th:selected="${classBatchPage.numberOfElements == size}"><a
												class="dropdown-item" th:text="100" th:value="100"
												th:href="@{/class_management(size=100, page=1)}">100</a></li>

										</ul>
									</div>
								</div>
								<div class="col-4">
									<div th:if="${classBatchPage.totalPages > 0}"
										class="input-group mb-3 mt-3">
										<span class="input-group-text"
											th:text="${'Show ' + startNumberOfCurrentPage + ' - ' + endNumberOfCurrentPage +' of total ' + totalNumberOfClassBatches}">Show
											x - y of total z items</span> <input type="text"
											class="form-control"
											th:value="${'Page ' + currentPage + '/' + pageNumbers.size}">
										<button class="btn btn-outline-secondary dropdown-toggle"
											type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
										<ul class="dropdown-menu dropdown-menu-end">
											<li th:each="pageNumber : ${pageNumbers}"
												th:selected="${pageNumber == currentPage}"><a
												class="dropdown-item"
												th:text="${'Page ' + pageNumber + '/' + pageNumbers.size}"
												th:href="@{/class_management(size=${classBatchPage.size}, page=${pageNumber})}">Action</a></li>
										</ul>
									</div>
								</div>
								<div class="col">
									<div th:if="${classBatchPage.totalPages > 0}" class="mb-3 mt-3">
										<nav aria-label="Page navigation example">
											<ul class="pagination justify-content-end">
												<li class="page-item"
													th:classappend="${currentPage == 1} ? disabled"><a
													class="page-link"
													th:href="@{/class_management(size=${classBatchPage.size}, page=${currentPage -1})}"><i
														class="bi bi-chevron-double-left"></i></a></li>
												<li th:each="pageNumber : ${pageNumbers}" class="page-item"
													th:classappend="${pageNumber==classBatchPage.number + 1} ? active"><a
													class="page-link"
													th:href="@{/class_management(size=${classBatchPage.size}, page=${pageNumber})}"
													th:text="${pageNumber}">[first page]</a></li>
												<li class="page-item"
													th:classappend="${currentPage == pageNumbers.get(pageNumbers.size -1)} ? disabled"><a
													class="page-link"
													th:href="@{/class_management(size=${classBatchPage.size}, page=${currentPage +1})}"><i
														class="bi bi-chevron-double-right"></i></a></li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="mb-3">
									<button type="button" class="btn btn-outline-secondary ">
										<i class="bi bi-plus-circle-fill text-success"></i> New Class
									</button>
									<button type="submit" class="btn btn-outline-secondary"
										name="buttonType" value="updateClass">
										<i class="bi bi-arrow-up-circle-fill text-info"></i> Update
										Class
									</button>
									<button type="button" class="btn btn-outline-secondary"
										data-bs-toggle="modal" data-bs-target="#cancelClassModal">
										<!--	th:formaction="@{/class_cancel}" name="buttonType" value="cancelClass"  -->
										<i class="bi bi-x-circle-fill text-danger"></i> Cancel Class
									</button>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="cancelClassModal" tabindex="-1"
									aria-labelledby="cancelClassModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h6 class="modal-title" id="cancelClassModalLabel">Confirm</h6>
												<button type="button" class="btn-close"
													data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body text-center">
												<i class="bi bi-info-circle-fill text-success"></i> Are you
												sure to cancel?
											</div>
											<div class="modal-footer">
												<button type="submit" name="buttonType" value="cancelClass"
													class="btn btn-primary" th:formaction="@{/class_cancel}">OK</button>
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">Cancel</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
	<th:block th:include="/_footer"></th:block>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
		integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$('#fromDatepicker').datepicker({
				format : 'dd/mm/yyyy'
			});
			$('#toDatepicker').datepicker({
				format : 'dd/mm/yyyy'
			});
		});
	</script>
</body>
</html>